<!DOCTYPE html>
<html>
	<head>
		<title>Using Flex box</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		.container {
			display: flex;
			flex-wrap: wrap;
		}
		.container > div {
			background-color: springgreen;
			font-size: 20px;
			margin: 20px;
			padding: 20px;
			width: 200px;
		}
    </style>
    <script></script>
	</head>
	<body>
      <div class="container">
		<div>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>7. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>8. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>9. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>10. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>11. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
		<div>12. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mi lorem</div>
	  </div>	  
	</body>
</html>
